[submodule "third_party/antlr"]
	path = third_party/antlr
	url = https://github.com/antlr/antlr4.git
[submodule "third_party/magic_enum"]
	path = third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "third_party/binaryen"]
	path = third_party/binaryen
	url = https://github.com/WebAssembly/binaryen.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
